<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全部图书信息</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('/static/img/sky.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }

        /* 新增样式：搜索框和柱状图并排展示 */
        .search-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10% 10px; /* 调整左右边距 */
        }

        #searchform {
            flex: 1;
            margin-right: 20px; /* 搜索框和柱状图之间的间距 */
        }

        #barChart {
            flex: 1;
            height: 200px; /* 设置柱状图高度与搜索框一致 */
        }
    </style>
</head>
<body>
{{template "reader_header.html" .}}
<div id="header"></div>

<!-- 修改后的搜索框和柱状图容器 -->
<div class="search-container">
    <form class="form-inline" id="searchform">
        <div class="input-group">
            <select class="form-control" name="search_field" id="search_field">
                <option value="name">图书名</option>
                <option value="author">作者</option>
                <option value="publish">出版社</option>
                <option value="isbn">ISBN</option>
                <option value="class_name">分类</option>
            </select>
        </div>
        <div class="input-group">
            <input type="text" placeholder="输入关键字" class="form-control" id="search_keyword" name="search_keyword"
                   class="form-control">
            <span class="input-group-btn">
                <input type="submit" value="搜索" class="btn btn-default" onclick="searchBook()">
            </span>
        </div>
    </form>

    <!-- 柱状图容器 -->
    <div id="barChart" style="width: 50%; height: 200px;"></div>
</div>

<div class="panel panel-default" style="width: 90%; margin-left: 5%">
    <div class="panel-heading" style="background-color: #fff">
        <h3 class="panel-title">全部图书</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="books-table">
            <thead>
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>出版社</th>
                <th>ISBN</th>
                <th>语言</th>
                <th>出版日期</th>
                <th>分类</th>
                <th>价格</th>
                <th>剩余数量</th>
                <th>图片</th>
                <th>操作</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            {{range .books}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Author}}</td>
                <td>{{.Publish}}</td>
                <td>{{.ISBN}}</td>
                <td>{{.Language}}</td>
                <td>{{.PubDate}}</td>
                <td>{{.ClassInfo.ClassName}}</td>
                <td>{{.Price}}</td>
                <td>{{.Number}}</td>
                <td>
                    <img src="{{.Image}}" alt="图书图片" style="width: 100px; height: auto; max-width: 100%;">
                </td>
                <td>
                    {{if index $.myLendMap .BookID}}
                    <a>
                        <button type="button" class="btn btn-warning btn-xs" onclick="returnBook({{.BookID}})">归还
                        </button>
                    </a>
                    {{else}}
                    {{if gt .Number 0}}
                    <a>
                        <button type="button" class="btn btn-primary btn-xs" onclick="lendBook({{.BookID}})">借阅
                        </button>
                    </a>
                    {{else}}
                    {{if index $.myRequireReserveMap .BookID}}
                    <button type="button" class="btn btn-warning btn-xs" disabled>审批中</button>
                    {{else if index $.myAcceptReserveMap .BookID}}
                    <button type="button" class="btn btn-success btn-xs" disabled>已预约</button>
                    {{else}}
                    <button type="button" class="btn btn-default btn-xs" disabled>已空</button>
                    <button type="button" class="btn btn-success btn-xs" onclick="reserveBook({{.BookID}})">预约
                    </button>
                    {{end}}
                    {{end}}
                    {{end}}
                </td>
                <td>
                    <a href="/reader/book/{{.BookID}}">
                        <button type="button" class="btn btn-success btn-xs">详情</button>
                    </a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<!-- 分页控件 -->
<div class="pagination-container" style="width: 90%; margin-left: 5%; text-align: center; padding: 20px;">
    <div class="pagination">
        <a href="/reader/book?page={{.prevPage}}&size={{.pageSize}}&search_field={{.searchField}}&search_keyword={{.searchKeyword}}"
           class="btn btn-default" {{if not .hasPrev}}disabled{{end}}>上一页</a>
        <span>第 {{.currentPage}} 页 / 共 {{.totalPages}} 页</span>
        <a href="/reader/book?page={{.nextPage}}&size={{.pageSize}}&search_field={{.searchField}}&search_keyword={{.searchKeyword}}"
           class="btn btn-default" {{if not .hasNext}}disabled{{end}}>下一页</a>
    </div>
    <div class="page-size-selector">
        每页显示：
        <form action="/reader/book" method="GET" style="display: inline-block;">
            <input type="hidden" name="page" value="1"> <!-- 重置到第一页 -->
            <input type="hidden" name="search_field" value="{{.searchField}}">
            <input type="hidden" name="search_keyword" value="{{.searchKeyword}}">
            <select name="size" onchange="this.form.submit()" class="form-control"
                    style="display: inline-block; width: auto;">
                <option value="20" {{if eq .pageSize 20}}selected{{end}}>20</option>
                <option value="50" {{if eq .pageSize 50}}selected{{end}}>50</option>
                <option value="100" {{if eq .pageSize 100}}selected{{end}}>100</option>
            </select>
        </form>
    </div>
</div>
<script>
    function searchBook() {
        var searchField = $("#search_field").val(); // 获取下拉框的值
        var searchKeyword = $("#search_keyword").val(); // 获取输入框的值
        if (searchKeyword == '') {
            alert("请输入关键词");
            return;
        }
        fetch('/admin/book/?search_field=' + searchField + '&search_keyword=' + searchKeyword, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
    }

    function returnBook(bookId) {
        if (!confirm("确认归还图书")) {
            return
        }
        // 使用 PUT 请求发送数据到后端
        fetch(`/reader/return/${bookId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({bookId: bookId}) // 可以根据需要发送更多数据
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success);
                    window.location.href = "/reader/book";
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                alert('发生错误: ' + error);
            });
    }

    function lendBook(bookId) {
        if (!confirm("确认借阅图书")) {
            return
        }
        // 使用 PUT 请求发送数据到后端
        fetch(`/reader/lend/${bookId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({bookId: bookId}) // 可以根据需要发送更多数据
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success);
                    window.location.href = "/reader/book";
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                alert('发生错误: ' + error);
            });
    }

    function reserveBook(bookId) {
        if (!confirm("确认预约图书")) {
            return
        }
        // 使用 PUT 请求发送数据到后端
        fetch(`/reader/reserve/${bookId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({bookId: bookId}) // 可以根据需要发送更多数据
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success);
                    window.location.href = "/reader/book";
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                alert('发生错误: ' + error);
            });
    }
</script>

<script type="text/javascript">
    // 获取后端传递的借阅统计数据（JSON 字符串）
    var lendStats = JSON.parse('{{.lendStatsJSON | safeJS}}');

    // 初始化柱状图
    var barChart = echarts.init(document.getElementById('barChart'));

    // 提取分类名称和借阅量
    var classNames = lendStats.map(function (item) {
        return item.class_name;
    });
    var counts = lendStats.map(function (item) {
        return item.count;
    });

    // 柱状图配置
    var barOption = {
        title: {
            text: '当前热门借阅图书分类',
            left: 'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: classNames,
            axisLabel: {
                textStyle: {
                    color: '#070707'
                }
            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    return parseInt(value); // 确保 Y 轴显示整数
                }
            },
            interval: 1 // 设置 Y 轴的每个刻度间隔为 1
        },
        series: [
            {
                name: '借阅量',
                type: 'bar',
                data: counts,
                itemStyle: {
                    color: '#25c5fb'
                }
            }
        ]
    };

    // 设置柱状图数据
    barChart.setOption(barOption);
</script>
</body>
</html>